<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"
      ><div class="typewriter">
        <h1>
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
                fill="#FFF"
              ></path>
              <path
                d="M22.667 20H17v-6h5.667a3 3 0 0 1 0 6m0-10H13v20h4v-6h5.667a7 7 0 1 0 0-14"
                fill="#DA552F"
              ></path>
            </g>
          </svg>
          Product Hunt
        </h1>
      </div></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li 
        {% if '/' == request.path %}
          class="nav-item active mr-3"
        {% else %}
                    class="nav-item  mr-3"    
                {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}"><span class="oi oi-home"></span> Home</a>
        </li>
        {% if user.is_authenticated %}
        <li 
        {% if 'create' in request.path %}
            class="nav-item active mr-3"
            {% else %}
                    class="nav-item  mr-3"    
                {% endif %}
          >
           <a class="nav-link" href="{% url 'create' %}"> <span class="oi oi-plus"></span> Create</a>
          </li>
        {% endif %}
        
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li 
            {% if 'dashboard' in request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item  mr-3"    
            {% endif %}
            >
            <a class="nav-link" href="{% url 'dashboard' %}">
            Welcome {{ user.first_name }} {{ user.last_name }} ( <span class="oi oi-dashboard"></span>Dashboard)</a>
        </li>
        
        <li 
            {% if 'logout' in request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item  mr-3"    
            {% endif %}
            >
            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}" data-toggle="modal" data-target="#exampleModal">
              <span class="oi oi-account-logout"></span> Logout</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"> Are You Sure ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Do yo want to logout</p>
      </div>
      <div class="modal-footer text-center">
        <form action="{% url 'logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden">
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-danger">Yes</button>      
        </form>
      </div>

    </div>
  </div>
</div>  
        </li>   
    {% else %}    
        <li 
            {% if 'register' in request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item  mr-3"    
            {% endif %}
            >
            <a class="nav-link" href="{% url 'register' %}">
              <span class="oi oi-account-login"></span>  Register</a>
        </li>
        <li 
            {% if 'login' in request.path %}
                class="nav-item active mr-3"
            {% else %}
                class="nav-item  mr-3"    
            {% endif %}
            >
            <a class="nav-link" href="{% url 'login' %}">
            <span class="oi oi-account-login"></span> Login</a>
        </li>
        
    {% endif %}    
      </ul>
    </div>
  </div>
</nav>
