

<title>Product Hunt | Admin Pannel</title>
{% extends 'admin/base.html' %} {% load static %} {% block branding %}
<div class="typewriter">
    <h1 id="header">
    
        <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        xmlns="http://www.w3.org/2000/svg"
        >
        <g fill="none" fill-rule="evenodd">
            <path
            d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"
            fill="#FFF"
            ></path>
            <path
            d="M22.667 20H17v-6h5.667a3 3 0 0 1 0 6m0-10H13v20h4v-6h5.667a7 7 0 1 0 0-14"
            fill="#DA552F"
            ></path>
        </g>
        </svg>

        <bold class="ml-2">Product Hunt</bold>
</div>    
  {% endblock %} {% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  {% endblock %}
</h1>
</body>